
/*@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Condensed:ital,wght@0,400..700;1,400..700&display=swap');
h1{
    text-align: center;
    background-color: black;
    color: azure;
}

h2{
    background-color: darkgrey;
    color: darkcyan;



}*/

  /*.hero{
    background-color: rgb(235, 129, 129);

}

.background{
    background-color: rgb(223, 131, 223);


}

.textAlignment{
    text-align: center;

} */


 /*.odd{
    background-color: rgb(66, 9, 9);



}

.even{
    background-color: rgb(140, 103, 54);


}

#title{
    background-color: rgb(204, 108, 40);

}*/

 /* *{
    background-color:rgb(24, 144, 204) ;


} */

/*.helloText{
    background-color: rgb(10 20 30 );
    background-color:#460735 ;
    color: #2fb0d7;
    font-family: "Libre Caslon Condensed", serif;

}*/

/*.helloText{
    background-color: rgb(7, 37, 5);
    color: rgb(158, 112, 95);

    text-align: center;

    padding: 50px;
    margin: 100px; 
    border: 10px solid #000000;
 

}*/

.Card{
    background-color:#002D62;
    color: white;
    padding: 20px;


}
.card-image{
    padding: 10px;
    margin: 20px;
    border-radius: 30px;

}

*{
    background-color: skyblue;


}

.card-topic{
    color:#A6192E;
}

.card-paragraph{
    border: 10px solid #008751;
    padding: 30px;
    color: black;
}

.btn{
    border-radius: 10px;
    color: white;
    background-color: black;


}

