
h1{
    text-align: center;
    background-color: black;
    color: azure;
}

h2{
    background-color: darkgrey;
    color: darkcyan;



}

  /*.hero{
    background-color: rgb(235, 129, 129);

}

.background{
    background-color: rgb(223, 131, 223);


}

.textAlignment{
    text-align: center;

} */


.odd{
    background-color: rgb(66, 9, 9);



}

.even{
    background-color: rgb(140, 103, 54);


}

#title{
    background-color: rgb(204, 108, 40);

}