
h1{
    text-align: center;
    background-color: black;
    color: azure;
}

h2{
    background-color: darkgrey;
    color: darkcyan;



}

.hero{
    background-color: rgb(179, 139, 255);


}

   
